{% comment %}
    ckmGlobalEmailHeadTag: {{content_blocks.${ckmGlobalEmailHeadTag}}}
{% endcomment %}
<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <meta name="color-scheme" content="light dark"> 
  <meta name="supported-color-schemes" content="light dark"> 
  
  <title>{{emailTitle | default: 'Credit Karma Money' }}</title>
    <!--[if mso]>
    <style type="text/css">
      li { text-indent: -1em; }
      table, tr, td {border-collapse: collapse;}
      tr { font-size: 0px; line-height: 0px; border-collapse: collapse; }
      .mso-border-reset { border: none !important; }
    </style>
    <![endif]-->

    <!--[if !mso]><!-->
    <style type="text/css">
    sup {
      line-height: 1em !important;
      font-size: 60% !important;
    }
    </style>
    <!--<![endif]-->

    <style type="text/css">
    :root {
      color-scheme: light dark;
      supported-color-schemes: light dark;
    }

    body { width: 100vw !important; }

    @font-face {
      font-family: 'National';
      font-style: normal;
      font-weight: 100;
      src: url('https://****cdn-a.akamaihd.net/res/content/bundles/galaxy-css/4.0.2/fonts/National2Web-Light.woff') format('woff');
      mso-font-alt: Arial;
    }

    @font-face {
      font-family: 'National';
      font-style: normal;
      font-weight: normal;
      src: url('https://****cdn-a.akamaihd.net/res/content/bundles/galaxy-css/4.0.2/fonts/National2Web-Regular.woff') format('woff');
      mso-font-alt: Arial;
    }

    @font-face {
      font-family: 'National';
      font-style: normal;
      font-weight: bold;
      src: url('https://****cdn-a.akamaihd.net/res/content/bundles/galaxy-css/4.0.2/fonts/National2Web-Medium.woff') format('woff');
      mso-font-alt: Arial;
    }

    @font-face {
      font-family: 'National';
      font-style: italic;
      font-weight: normal;
      src: url('https://****cdn-a.akamaihd.net/res/content/bundles/galaxy-css/4.0.2/fonts/National2Web-LightItalic.woff') format('woff');
      mso-font-alt: Arial;
    }

    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    a[href^="tel"],
    a[href^="sms"] {
      text-decoration: none !important;
      color: inherit !important;
      pointer-events: none !important;
      cursor: default !important;
    }

    .gmail-contact a {
      color: inherit !important;
      text-decoration: none !important;
    }

    #MessageViewBody, #MessageWebViewDiv {
      width: 100% !important;
      margin: 0 auto !important;
    }

    #MessageViewBody a {
      color: inherit;
      text-decoration: none;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
    }

    table, td {
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    table {
      border-spacing: 0 !important;
      border-collapse: collapse !important;
    }

    img { -ms-interpolation-mode: bicubic; }
    
    div[style*="margin: 16px 0"] { margin: 0 !important; }

    @media screen and (max-width: 581px) {
      .md1-block { display: block !important; }
      
      .md1-100 { width: 100% !important; }
      
      .md1-center img { margin: 0 auto !important; }

      .md1-center { text-align: center !important; }
    }{% comment %}End 581px media query{% endcomment %}

    @media screen and (max-width: 481px) {
      .mb-inline-block { display: inline-block !important; }

      .mb-block { display: block !important; }

      .mb-hide {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
      }

      .mb-center { text-align: center !important; }

      .mb-center-el,
      .mb-center img { margin: 0 auto !important; }
      
      .mb-left { text-align: left !important; }
      
      .mb-left img { margin: 0px auto 0px 0px !important; }
      
      .mb-right { text-align: right !important; }
      
      .mb-right img { margin: 0px 0px 0px auto !important; }

      .mb-288 { max-width: 288px !important; }

      .mb-288px { width: 288px !important; }

      .mb-95 { width: 94.99% !important; }

      .mb-75 { width: 75% !important; }

      .mb-79-16 { width: 79.167% !important; }

      .mb-86-6 { width: 86.67% !important; }

      .mb-91-347 { width: 91.347% !important; }

      .mb-86 { width: 85.99% !important; }

      .mb-87 { width: 86.667% !important; }

      .mb-50 { width: 49.99% !important; }

      .mb-100 { width: 100% !important; }

      .mb-90 { width: 89.99% !important; }

      .mb-90-39 { width: 90.39% !important; }

      .mb-90-38 { width: 90.38% !important; }

      .mb-91-71 { width: 91.71% !important; }

      .mb-70 { width: 69.99% !important; }

      .mb-16px { width: 16px !important; }

      .mb-cta-272 { width: 272px !important; }

      .mb-pad-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
      }

      .cta-class {
        width: 272px !important;
        line-height: 44px !important;
        margin: 0 !important;
      }

      .mb-modl-p-custom{
        padding-left: 4.326% !important;
        padding-right: 4.326% !important;
      }

      .f-mb-182 img {
        width: 82.6% !important;
        display: inline-table !important;
      }

      .f-mb-127 img {
        width: 83.1% !important;
        display: inline-table !important;
      }

      .f-mb-157 img {
        width: 86.25% !important;
        display: inline-table !important;
      }

      .f-mb-153 img {
        width: 85.9% !important;
        display: inline-table !important;
      }

      .f-mb-122 img {
        width: 100% !important;
        display: inline-table !important;
      }
    }{% comment %}End 481px media query{% endcomment %}

    @media screen and (max-width: 370px) {
      .custom-logo-w-100 { width: 100% !important; }

      .custom-370-block { display: block !important; }

      .hide-370 { display: none !important; }

      .custom-370 {
        width: 288px !important;
        display: inline-block !important;
      }
    }{% comment %}End 370px media query{% endcomment %}

    @media screen and (max-width: 380px) {
      .sm-font-26 {
        font-size: 26px !important;
        word-break: normal !important;
      }

      .sm-font-18 {
        font-size: 18px !important;
        word-break: normal !important;
      }

      .sm-hide {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
      }

      .sm-100 { width: 100% !important; }

      .sm-100-mx {
        width: 100% !important;
        max-width: 100% !important;
      }

      .sm-90 { width: 89.99% !important; }
    }{% comment %}End 380px media query{% endcomment %}

    @media screen and (max-width: 320px) {
      .xs-hide {
        display: none !important;
        height: 0 !important;
        width: 0 !important;
      }

      .xs-100 { width: 100% !important; }
    }{% comment %}End 320px media query{% endcomment %}

    @media only screen and (max-width: 600px) {
      .hide { display: none !important; }
    }{% comment %}End 600px media query{% endcomment %}

    @media screen and (max-width: 700px) {
      .md-block { display: block !important; }

      .md-center { text-align: center !important; }

      .md-86 { width: 85.99% !important; }

      .md-100 { width: 100% !important; }
    }{% comment %}End 700px media query{% endcomment %}

    @media (prefers-color-scheme: dark) {
      .bg-color-white { background-color: #FEFFFF !important; }
    }
    </style>

    <!--[if mso]>
    <noscript>
    <xml>
      <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
    </noscript>
    <![endif]-->
</head>

<body xml:lang="en" bgcolor="{{emailBodyBgColor | default: '#f5f6f6' }}" style="width: 100%; margin: 0; padding: 0; background-color: {{emailBodyBgColor | default: '#f5f6f6' }};">