<!-- Module 5: Side by Side 2 Column -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; width: 100%" role="presentation">
  <tr>
    <td style="padding:0 31px 65px 31px;">
      <!--[if (gte mso 9)|(IE)]>
      <table role="presentation" width="540" cellpadding="0" cellspacing="0" border="0" style="width:540px;"><tr><td width="256" valign="top" style="width: 256px;">
      <![endif]-->

      <!-- Feature 1 -->
      <table role="presentation" class="block-element card-gap" align="left" width="256" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; float: left; width:256px;">
        <tr>
          <td>
            <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
              <tr>
                <td style="padding-bottom: 12px;">
                  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;" role="presentation">
                    <tr>
                      <td style="vertical-align: middle; padding-right: 6px; width: 20px;"><img src="https://mdlloops.s3.us-east-2.amazonaws.com/icon_send.png" style="border: none; display: block; -ms-interpolation-mode: bicubic; outline: none;" width="20" height="20" alt="Send Icon" border="0"></td>
                      <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:16px; line-height:20px; font-weight:700; color:#11162A; letter-spacing:-0.15px; text-transform: uppercase; vertical-align: middle;">Send It Now</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#11162A; padding-bottom:12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada sodales risus, a adipiscing lorem.</td>
              </tr>
              <tr>
                <td>
                  <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                    <tr>
                      <td>
                        <!--[if (gte mso 9)|(IE)]>
                        <table width="106" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; width: 106px;"><tr><td width="106" style="background-color:#BAECFF; text-align: center; vertical-align: middle; height: 32px; width: 106px;">
                        <![endif]-->
                        <a href="https://www.stitch.cx/resources?1" style="background-color:#BAECFF; border-radius:20px; color:#11162A; display:block; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:32px; text-align:center; text-decoration:none; width: 106px;" target="_blank">Read more</a>
                        <!--[if (gte mso 9)|(IE)]>
                        </td></tr></table>
                        <![endif]-->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <!--[if (gte mso 9)|(IE)]>
      </td><td width="256" valign="top" style="width: 256px;">
      <![endif]-->

      <!-- Feature 2 -->
      <table role="presentation" class="block-element" align="right" width="256" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; float: right; width:256px;">
        <tr>
          <td>
            <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
              <tr>
                <td style="padding-bottom: 12px;">
                  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;" role="presentation">
                    <tr>
                      <td style="vertical-align: middle; padding-right: 6px; width: 20px;"><img src="https://mdlloops.s3.us-east-2.amazonaws.com/icon_pen.png" style="border: none; display: block; -ms-interpolation-mode: bicubic; outline: none;" width="20" height="20" alt="Pen Icon" border="0"></td>
                      <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:16px; line-height:20px; font-weight:700; color:#11162A; letter-spacing:-0.15px; text-transform: uppercase; vertical-align: middle;">Very Nice To See</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#11162A; padding-bottom:12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada sodales risus, a adipiscing lorem.</td>
              </tr>
              <tr>
                <td>
                  <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                    <tr>
                      <td>
                        <!--[if (gte mso 9)|(IE)]>
                        <table width="106" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; width: 106px;"><tr><td width="106" style="background-color:#BAECFF; text-align: center; vertical-align: middle; height: 32px; width: 106px;">
                        <![endif]-->
                        <a href="https://www.stitch.cx/resources?2" style="background-color:#BAECFF; border-radius:20px; color:#11162A; display:block; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:32px; text-align:center; text-decoration:none; width: 106px;" target="_blank">Read more</a>
                        <!--[if (gte mso 9)|(IE)]>
                        </td></tr></table>
                        <![endif]-->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <!--[if (gte mso 9)|(IE)]>
      </td></tr></table>
      <![endif]-->
    </td>
  </tr>
</table>
<!-- End Module 5 -->