<!-- Module 4: Side by Side 3 Column Blog Post -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; width: 100%" role="presentation">
  <tr>
    <td style="padding:38px 31px 72px 31px;">
      <!--[if (gte mso 9)|(IE)]>
      <table role="presentation" width="536" cellpadding="0" cellspacing="0" border="0" style="width:536px;"><tr><td width="176" valign="top" style="width: 176px;">
      <![endif]-->

      <!-- Col 1 -->
      <table role="presentation" class="block-element card-gap" align="left" width="176" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; float: left; width:176px;">
        <tr>
          <td class="col-pad" style="padding-right:8px;">
            <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
              <tr>
                <td style="text-align:center; vertical-align:middle; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:11px; color:#666666;"><a href="https://www.stitch.cx/?1" target="_blank"><img class="fluid-img" src="https://mdlloops.s3.us-east-2.amazonaws.com/content_new_customers_welcome1_img_03.png" style="border: none; display: block; -ms-interpolation-mode: bicubic; outline: none;" width="168" height="120" alt="Layered PSD Image" border="0"></a></td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:16px; line-height:16px; font-weight:700; color:#11162A; padding:16px 0 9px 0; letter-spacing:0.3px; text-transform: uppercase;">Layered PSD</td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#11162A; padding-bottom:12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:16px;"><a href="https://www.stitch.cx/?1" style="color:#6B033D; text-decoration:none;" target="_blank">Check this out →</a></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <!--[if (gte mso 9)|(IE)]>
      </td><td width="176" valign="top" style="width: 176px;">
      <![endif]-->

      <!-- Col 2 -->
      <table role="presentation" class="block-element card-gap" align="left" width="176" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; float: left; width:176px;">
        <tr>
          <td class="col-pad" style="padding:0 8px;">
            <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
              <tr>
                <td style="text-align:center; vertical-align:middle; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:11px; color:#666666;"><a href="https://www.stitch.cx/?2" target="_blank"><img class="fluid-img" src="https://mdlloops.s3.us-east-2.amazonaws.com/content_new_customers_welcome1_img_04.png" style="border: none; display: block; -ms-interpolation-mode: bicubic; outline: none;" width="168" height="120" alt="Fully Compatible Image" border="0"></a></td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:16px; line-height:16px; font-weight:700; color:#11162A; padding:16px 0 9px 0; letter-spacing:0.3px; text-transform: uppercase;">Fully Compatible</td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#11162A; padding-bottom:12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:16px;"><a href="https://www.stitch.cx/?2" style="color:#6B033D; text-decoration:none;" target="_blank">Check this out →</a></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <!--[if (gte mso 9)|(IE)]>
      </td><td width="176" valign="top" style="width: 176px;">
      <![endif]-->

      <!-- Col 3 -->
      <table role="presentation" class="block-element" align="left" width="176" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; float: left; width:176px;">
        <tr>
          <td class="col-pad" style="padding-left:8px;">
            <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
              <tr>
                <td style="text-align:center; vertical-align:middle; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:11px; color:#666666;"><a href="https://www.stitch.cx/?3" style="color: #11162A; text-decoration: none;" target="_blank"><img class="fluid-img" src="https://mdlloops.s3.us-east-2.amazonaws.com/content_new_customers_welcome1_img_05.png" style="border: none; display: block; -ms-interpolation-mode: bicubic; outline: none;" width="168" height="120" alt="Great Modules Image" border="0"></a></td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:16px; line-height:16px; font-weight:700; color:#11162A; padding:16px 0 9px 0; letter-spacing:0.3px; text-transform: uppercase;">Great Modules</td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#11162A; padding-bottom:12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:16px;"><a href="https://www.stitch.cx/?3" style="color:#6B033D; text-decoration:none;" target="_blank">Check this out →</a></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <!--[if (gte mso 9)|(IE)]>
      </td></tr></table>
      <![endif]-->
    </td>
  </tr>
</table>
<!-- End Module 4 -->