<!-- Module 2: Side by Side 2 Column Blog Post -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; width: 100%" role="presentation">
  <tr>
    <td style="padding:38px 31px 38px 31px;">
      <!--[if (gte mso 9)|(IE)]>
      <table role="presentation" width="536" cellpadding="0" cellspacing="0" border="0" style="width:536px;"><tr><td width="256" valign="top" style="width: 256px;">
      <![endif]-->

      <!-- Card 1 -->
      <table role="presentation" class="block-element card-gap" align="left" width="256" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; float: left; width:256px;">
        <tr>
          <td>
            <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
              <tr>
                <td style="text-align:center; vertical-align:middle; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:12px; color:#666666;"><a href="https://www.stitch.cx/about?1" target="_blank"><img class="fluid-img" src="https://mdlloops.s3.us-east-2.amazonaws.com/content_new_customers_welcome1_img_01.png" style="border: none; display: block; -ms-interpolation-mode: bicubic; outline: none;" width="256" height="180" alt="Responsive email template image" border="0"></a></td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:16px; line-height:20px; font-weight:700; color:#11162A; padding:18px 0 10px 0; letter-spacing:-0.15px; text-transform: uppercase;">Responsive email template</td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#11162A; padding-bottom:16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum mollis.</td>
              </tr>
              <tr>
                <td>
                  <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                    <tr>
                      <td>
                        <!--[if (gte mso 9)|(IE)]>
                        <table width="106" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; width: 106px;"><tr><td width="106" style="background-color:#BAECFF; text-align: center; vertical-align: middle; height: 32px; width: 106px;">
                        <![endif]-->
                        <a href="https://www.stitch.cx/about?1" style="background-color:#BAECFF; border-radius:20px; color:#11162A; display:block; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:32px; text-align:center; text-decoration:none; width: 106px;" target="_blank">Read more</a>
                        <!--[if (gte mso 9)|(IE)]>
                        </td></tr></table>
                        <![endif]-->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <!--[if (gte mso 9)|(IE)]>
      </td><td width="256" valign="top" style="width: 256px;">
      <![endif]-->

      <!-- Card 2 -->
      <table role="presentation" class="block-element" align="right" width="256" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; float: right; width:256px;">
        <tr>
          <td>
            <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
              <tr>
                <td style="text-align:center; vertical-align:middle; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:12px; color:#666666;"><a href="https://www.stitch.cx/about?2" target="_blank"><img class="fluid-img" src="https://mdlloops.s3.us-east-2.amazonaws.com/content_new_customers_welcome1_img_02.png" style="border: none; display: block; -ms-interpolation-mode: bicubic; outline: none;" width="256" height="180" alt="Fully compatible template image" border="0"></a></td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:16px; line-height:20px; font-weight:700; color:#11162A; padding:18px 0 10px 0; letter-spacing:-0.15px; text-transform: uppercase;">Fully compatible template</td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#11162A; padding-bottom:16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum mollis.</td>
              </tr>
              <tr>
                <td>
                  <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                    <tr>
                      <td>
                        <!--[if (gte mso 9)|(IE)]>
                        <table width="106" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; width: 106px;"><tr><td width="106" style="background-color:#BAECFF; text-align: center; vertical-align: middle; height: 32px; width: 106px;">
                        <![endif]-->
                        <a href="https://www.stitch.cx/about?2" style="background-color:#BAECFF; border-radius:20px; color:#11162A; display:block; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:32px; text-align:center; text-decoration:none; width: 106px;" target="_blank">Read more</a>
                        <!--[if (gte mso 9)|(IE)]>
                        </td></tr></table>
                        <![endif]-->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <!--[if (gte mso 9)|(IE)]>
      </td></tr></table>
      <![endif]-->
    </td>
  </tr>
</table>
<!-- End Module 2 -->