<!-- Module 6: Side by Side 2 Column - Img Left -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; width: 100%" role="presentation">
  <tr>
    <td class="pad-l-30" bgcolor="#eeeeee" style="background-color:#eeeeee; padding:38px 31px 38px 56px;">

      <!--[if (gte mso 9)|(IE)]>
      <table role="presentation" width="510" cellpadding="0" cellspacing="0" border="0" style="width:510px;"><tr><td width="230" valign="middle" style="width: 230px;">
      <![endif]-->

      <!-- Image -->
      <table role="presentation" class="block-element" align="left" width="230" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; float: left; width:230px;">
        <tr>
          <td>
            <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
              <tr>
                <td style="background-color:#cccccc; text-align:center; vertical-align:middle; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:12px; color:#666666;"><a href="https://www.stitch.cx/partner-with-us" target="_blank"><img class="fluid-img" src="https://mdlloops.s3.us-east-2.amazonaws.com/content_new_customers_welcome1_img_06.png" style="border: none; display: block; -ms-interpolation-mode: bicubic; outline: none;" width="231" height="169" alt="Just For You Image" border="0"></a></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <!--[if (gte mso 9)|(IE)]>
      </td><td width="256" valign="middle" style="width: 256px;">
      <![endif]-->

      <!-- Text -->
      <table role="presentation" class="block-element" align="right" width="256" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; float: right; width:256px;">
        <tr>
          <td class="height-reset" style="height: 169px; vertical-align:middle;">
            <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
              <tr>
                <td class="pad-t-18 pad-b-10" style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:16px; line-height:20px; font-weight:700; color:#11162A; padding-bottom:14px; letter-spacing:-0.15px; text-transform: uppercase;">Just for you</td>
              </tr>
              <tr>
                <td style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#11162A; padding-bottom:14px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum mollis risus, in mattis erat convallis egestas.</td>
              </tr>
              <tr>
                <td>
                  <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                    <tr>
                      <td>
                        <!--[if (gte mso 9)|(IE)]>
                        <table width="106" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; width: 106px;"><tr><td width="106" style="background-color:#D3D5DB; text-align: center; vertical-align: middle; height: 32px; width: 106px;">
                        <![endif]-->
                        <a href="https://www.stitch.cx/partner-with-us" style="background-color:#D3D5DB; border-radius:20px; color:#FFFFFF; display:block; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:32px; text-align:center; text-decoration:none; width: 106px;" target="_blank">Read more</a>
                        <!--[if (gte mso 9)|(IE)]>
                        </td></tr></table>
                        <![endif]-->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <!--[if (gte mso 9)|(IE)]>
      </td></tr></table>
      <![endif]-->
    </td>
  </tr>
</table>
<!-- End Module 6 -->