<!-- Header + Module 1 - Hero -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; width: 100%" role="presentation">
<tr>
  <td bgcolor="#11162A" background="https://mdlloops.s3.us-east-2.amazonaws.com/background-gradient-grid.png" style="background-color:#11162A; background-image: url('https://mdlloops.s3.us-east-2.amazonaws.com/background-gradient-grid.png'); background-position: top; background-repeat: no-repeat; background-size: cover; padding:53px 31px 56px 31px;">
    <!-- Logo -->
    <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
      <tr>
        <td align="center" style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:40px; color:#ffffff; padding-bottom:18px;"><a href="https://www.stitch.cx/" target="_blank"><img src="https://mdlloops.s3.us-east-2.amazonaws.com/logo_stitch_primary_white.png" style="border: none; display: block; -ms-interpolation-mode: bicubic; outline: none;" width="133" height="42" alt="Stitch - Modern Marketing Services Company" border="0"></a></td>
      </tr>
    </table>

    <!-- Nav -->
    <table role="presentation" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; margin:0 auto;">
      <tr>
        <td class="font-12 pad-lr-5" style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:16px; font-weight: 300; line-height:24px; color:#ffffff; padding:0 20px; text-align: center; text-transform: uppercase; width: 46px;"><a href="https://www.stitch.cx/" style="color:#ffffff; text-decoration:none;" target="_blank">Home</a></td>

        <td class="font-12 pad-lr-5" style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:16px; font-weight: 300; line-height:24px; color:#ffffff; padding:0 20px; text-align: center; text-transform: uppercase; width: 73px;"><a href="https://www.stitch.cx/about" style="color:#ffffff; text-decoration:none;" target="_blank">Services</a></td>

        <td class="font-12 pad-lr-5" style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:16px; font-weight: 300; line-height:24px; color:#ffffff; padding:0 20px; text-align: center; text-transform: uppercase; width: 75px;"><a href="https://www.stitch.cx/resources" style="color:#ffffff; text-decoration:none;" target="_blank">Features</a></td>

        <td class="font-12 pad-lr-5" style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:16px; font-weight: 300; line-height:24px; color:#ffffff; padding:0 20px; text-align: center; text-transform: uppercase; width: 73px;"><a href="https://www.stitch.cx/partner-with-us" style="color:#ffffff; text-decoration:none;" target="_blank">Contact</a></td>
      </tr>
    </table>

    <!-- Hero headline -->
    <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
      <tr>
        <td align="center" style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:45px; line-height:38px; font-weight:700; color:#a6cff2; padding:18px 0 18px 0; text-align:center; letter-spacing: 0.4px;"><a href="https://www.stitch.cx/" style="color: #BAECFF; text-decoration: none;" target="_blank">A modern marketing<br> services company.</a></td>
      </tr>

      <!-- Hero Subheadline -->
      <tr>
        <td align="center" style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:15px; line-height:21px; color:#d8dde8; padding:0; text-align:center; letter-spacing: 0.2px;"><a href="https://www.stitch.cx/" style="color: #d8dde8; text-decoration: none;" target="_blank">Helping marketers change the way marketing gets done.</a></td>
      </tr>
    </table>
  </td>
</tr>
</table>
<!-- End Header + Module 1 - Hero -->