<!-- Module 3: Gray Background Feature -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; width: 100%" role="presentation">
  <tr>
    <td class="pad-lr-31" bgcolor="#eeeeee" style="background-color:#eeeeee; padding:60px 40px 36px 40px;">
      <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
        <tr>
          <td style="padding-bottom:22px;">
            <table border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; margin: 0 auto;" role="presentation">
              <tr>
                <td style="vertical-align: middle; padding-right: 6px; width: 20px;"><img src="https://mdlloops.s3.us-east-2.amazonaws.com/icon_grid.png" style="border: none; -ms-interpolation-mode: bicubic; display: block; outline: none;" width="20" height="20" alt="Grid Icon" border="0"></td>
                <td class="font-16" style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:20px; line-height:20px; font-weight:700; color:#11162A; letter-spacing:-0.15px; text-transform: uppercase;">Fully Supported Template</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:16px; line-height:20px; color:#1E2939; text-align:center; padding-bottom:22px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada sodales risus, a adipiscing lorem commodo vitae. Ut semper semper lacus. Suspendisse convallis vel tellus at consectetur. Aenean risus arcu.</td>
        </tr>
        <tr>
          <td align="center">
            <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
              <tr>
                <td>
                  <!--[if (gte mso 9)|(IE)]>
                  <table align="center" width="106" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; width: 106px;"><tr><td width="106" style="background-color:#D3D5DB; text-align: center; vertical-align: middle; height: 32px; width: 106px; margin: 0 auto;">
                  <![endif]-->
                  <a href="https://www.stitch.cx/" style="background-color:#D3D5DB; border-radius:20px; color:#FFFFFF; display:block; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:32px; text-align:center; text-decoration:none; width: 106px;" target="_blank">Read more</a>
                  <!--[if (gte mso 9)|(IE)]>
                  </td></tr></table>
                  <![endif]-->
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- End Module 3 -->