<!-- Module 7: Social - unsubscribe and social links -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; width: 100%" role="presentation">
  <tr>
    <td bgcolor="#FFFFFF" style="background-color:#FFFFFF; padding:40px 31px 40px 31px;">

      <!-- Copyright + social -->
      <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
        <tr>
          <td class="footer-stack" align="left" style="font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:14px; line-height:18px; color:#6E7075; text-align:left; vertical-align:middle; width: 100%;">Stitch &copy; copyright 2026 - <a href="https://www.stitch.cx/?unsub" style="color:#6E7075; text-decoration:none;" target="_blank">Unsubscribe here</a></td>
          <td class="footer-stack" align="right" style="text-align:right; vertical-align:middle;">
            <table role="presentation" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
              <tr>
                <td class="pad-l-0" style="padding-left:16px;"><a href="https://www.stitch.cx/?social1" style="color:#000000; text-decoration:none; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:15px;" target="_blank"><img src="https://mdlloops.s3.us-east-2.amazonaws.com/icon_instagram.png" style="border: none; display: block; -ms-interpolation-mode: bicubic; outline: none;" width="23" height="23" alt="Instagram Icon" border="0"></a></td>

                <td style="padding-left:16px;"><a href="https://www.stitch.cx/?social2" style="color:#000000; text-decoration:none; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:15px; font-weight:700;" target="_blank"><img src="https://mdlloops.s3.us-east-2.amazonaws.com/icon_facebook.png" style="border: none; display: block; -ms-interpolation-mode: bicubic; outline: none;" width="11" height="23" alt="Facebook Icon" border="0"></a></td>

                <td style="padding-left:16px;"><a href="https://www.stitch.cx/?social3" style="color:#000000; text-decoration:none; font-family:'Host Grotesk', Arial, Helvetica, sans-serif; font-size:15px; font-weight:700;" target="_blank"><img src="https://mdlloops.s3.us-east-2.amazonaws.com/icon_linkedin.png" style="border: none; display: block; -ms-interpolation-mode: bicubic; outline: none;" width="23" height="23" alt="LinkedIn Icon" border="0"></a></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
<!-- End Module 7 -->