// Colors
$bodyCopy: #555555;
$headline: #0073b9;
$sidebarBg: #dae6ec;

// Fonts
$defaultFont: Helvetica, Arial, sans-serif;
$accentFont: 'Oswald', Helvetica, Arial, sans-serif;

// Layout
$desktopWidth: 700px; /* 685 less padding */