@import "reset";
@import "vars";
@import "mixins";

body {
  color: $bodyCopy;
  font-family: $defaultFont;
}

// Typography
h1, h2, h3 {
  font-family: $accentFont;
  text-transform: uppercase;
}

h1 {
  color: $headline;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2em;
  margin: 30px 0;
}

p {
  line-height: 1.1em;
}

small {
  font-size: 12px;
}

.site-header {
  p {
    line-height: 1.3em;
  }
}

.sidebar {
  h3, p {
    color: #000;
  }  

  h3 {
    font-size: 20px;
    margin: 40px 0 5px 0;
  }
}

.sidebar h3:first-child {
  margin-top: 0;
}


// Form Styles
form {
  margin-bottom: 30px;
  width: 100%; 
}

label, input[type="text"], input[type="email"], input[type="tel"] {
  display: block;
  width: 100%;
}

label {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 7px;
}

input[type="text"], input[type="email"], input[type="tel"] {
  border: 1px solid #e1e1e1;
  @include rounded-corners(3px);
  color: $bodyCopy;
  font-family: $defaultFont;
  font-size: 14px;
  margin: 0 0 20px 0;
  padding: 10px 15px;
}

input[type="submit"] {
  background: url('http://techservices.teradatadmc.com/imgproxy/img/4000060206/callout-background.png');
  @include rounded-corners(10px);
  @include drop-shadow(-2px, 2px, 5px, rgba(0,0,0,0.4));
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: $accentFont;
  font-size: 24px;
  font-weight: 700;
  height: 57px;
  line-height: 2.4em;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 197px;

  &:focus { outline: 0; }
}

// Layout & UI Elements
.wrapper, .main-content {
  margin: 0 auto;
  width: 80%;
}

.content-wrapper { background: white; }

.cta {
  @include rounded-corners(3px);
  color: #000;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 2%;
}

.sidebar {
  background-color: $sidebarBg;
}

/* Header */
.site-header {
  margin-top: 30px;
  padding-bottom: 50px;

  img {
    max-width: 472px;
  }
}

.ty-page {
  .site-header {
    padding-bottom: 0;
  }
}

.sidebar {
  @include rounded-corners(10px);
  margin-top: 10px;
  padding: 30px 25px;
}

.site-footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 35px 15px;
}

@media (min-width: 600px) {
  // Typography
  h1 {
    padding: 0 fluid-div(10px, $desktopWidth);
  }

  .site-header {
    p {
      padding: 0 fluid-div(10px, $desktopWidth);
      text-align: justify;
    }
  }

  // Form
  form { 
    margin-left: fluid-div(15px, $desktopWidth);
    margin-bottom: 0;
  }

  // Layout & UI Elements
  .wrapper, .main-content {
    max-width: $desktopWidth;
  }

  .content {
    float: left;
    width: fluid-div(435px, $desktopWidth);
  }

  .sidebar {
    background-color: $sidebarBg;
    float: right;
    width: fluid-div(220px, $desktopWidth);
  }
}

@media (max-width: 600px) {
  .site-header {
    background-size: 100%;
  }
}




















